.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  flex: 0.1;
}

.logo {
  width: 10%;
  /* border: 1px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > svg {
  color: rgb(0, 172, 71);
  color: linear-gradient(
    140deg,
    rgba(0, 172, 71, 1) 0%,
    rgba(255, 186, 0, 1) 44%,
    rgba(233, 66, 53, 1) 65%,
    rgba(38, 132, 252, 1) 100%
  );
}

.logo > span {
  font-size: 18px;
  margin: 0 10px;
}

.container > main {
  display: flex;
  flex: 1;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: space-between;
  align-items: center;
}

.left-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section {
  width: 50%;
  /* border: 1px solid greenyellow; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-container {    
  display: flex;
  justify-content: center;
  align-items: center;
  width: 740px;
  height: 416px;

  /* border: 1px solid red; */
  position: relative;
}

.video-container > video {
  border: none;
  margin: 0;

  border-radius: 10px;
  min-width: 740px;
  min-height: 416px;
  max-width: calc(740px + 24px);
  background-color: rgb(15, 15, 15);
  box-shadow: 0px 1px 2px 0px rgba(60, 64, 67, 0.3),
    0px 1px 3px 1px rgba(60, 64, 67, 0.15);
}

.btn {
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;
    margin-bottom: 30px;
    cursor: pointer;
}

.mic {
    bottom: 0;
    left: 40%;
}

.camera {
    bottom: 0;
    right: 40%;
}

.menu {
    border: none;
    right: 2%;
    top: 5%;
}

.mute {
    background: red;
    border: 1px solid red;
}

.right-section form {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;

    margin: 5rem 0;
}

.right-section form > input {
    min-width: 300px;
    padding: 1rem;
    font-size: 1.2rem;
    background: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid rgb(215, 215, 215);
}

.right-section form > input:focus {
    min-width: 400px;
    border-bottom: 1px solid rgb(26,115,232);
}

.right-section form > button {      
    padding: 0.5rem 2rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    border: none;
    outline: none;
    border-width: 0;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);

    margin: 1rem;
    border-radius: 24px;
    height: 48px;

    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.right-section form > button:hover {
    color: #f2f2f2;
    background:rgb(26,115,232);
}