/* #chat-modal {
    position: absolute;
} */

.chat-modal {
    position: absolute;
    background-color: #fafafa;

    top: 20px;
    right: 20px;

    min-height: 88vh;
    min-width: 375px;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: all 0.3s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.chat-modal_header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-modal_header-info{
    max-width: 350px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 0;
    margin: 0;
}

.chat-modal_header > div {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.chat-modal_header-text {
    font-size: 1.2rem;
    font-weight: 300;
}

.chat-modal_header-close {
    cursor: pointer;
}

.chat-modal_footer {
    display: flex;
    width: 100%;
    padding: 20px;
}

.message-sender {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);

}

.message-sender input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    padding: 0 10px;
}

.send-icon {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.chat-body {
    padding: 0 30px;
    height: 60vh;    
    overflow-y: scroll;
}

.chat-body h4 {
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.6);
}

.chat-body div {
    margin-bottom: 1rem;
}