.room-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-grid {
  flex: 1;
  gap: 10px;
  width: 100%;
  margin: 20px;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid white; */
  /* align-items: center; */
}

.video-item {
  flex: 1;
  display: flex;
  min-width: 500px;
  /* max-height: 400px;
  min-height: auto; */
  align-items: center;
  border-radius: 10px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.065);
}

.video-img {
  width: 150px;
  height: 150px;
  background-color: coral;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-grid video {
  margin: 0;
  padding: 0;
}

.video-img > h1 {
  font-size: 4.5rem;
  font-weight: 300;
  color: white;
}

.footer-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;

  padding: 2rem;
}

.section {
  display: flex;
  flex-direction: row;
  align-items: center;

  min-width: 500px;
}

.left {
  justify-content: flex-start;
}

.left span {
  margin: 0 10px;
}

.mid {
  flex: 1;
  justify-content: center;
  gap: 12px;
}

.right {
  justify-content: flex-end;
}

.room-btn,
.right-btn {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 64, 67);
  cursor: pointer;
}

.room-btn:hover {
}

.right-btn:hover {
}

.end {
  width: 60px;
  border-radius: 30px;
  background-color: red;
}

.right-btn {
  background-color: transparent;
}

.mute {
  background-color: red;
}

.copy {
  cursor: pointer;
}

.copy:hover {
  color: rgb(159, 159, 159);
}

.copy:active {
  color: rgb(202, 202, 202);
}
